* {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

body {
}

/*---------------MENU----------------*/
header {}

.menu {
  z-index: 1;
  padding-top: 20px;
  position: fixed;
  left: 50%;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.dot1, .dot2, .dot3 {
  position: absolute;
  display: block;
  left: -50%;
  font-size: 1.5em;
}

.dot1 {
  margin-top: -15px;
}

.dot3 {
  margin-top: 15px;
}

.eye {
  position: absolute;
  display: block;
  margin-left: -28px;
  margin-top: -18px;
}

.menu img {
  position: absolute;
  width: 70px;
  opacity: 0;
}

.menu:hover img {
  opacity: 1;
  transition: 200ms ease-in;
}

#hiddenMenu {
  height: 100vh;
  width: 100vw;
  background: #000712;
  z-index: 1;
  position: fixed;
  display: none;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70vh;
}

.menu-list a {
  text-decoration: none;
}

.menu-list li {
  font-size: 2em;
  color: #fff;
  list-style: none;
}

.menu-list li:hover {
  color: #08f2a4;
  transition: 0.5s;
}

.close {
  position: absolute;
  cursor: pointer;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}

.close:hover {
  opacity: 0.1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #08f2a4;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/*---------------HOME----------------*/
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

body {
  background: #111;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100vh;
  max-height:100vw;
  margin:0;
  background:salmon;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-800px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  transform:rotate(90deg);
  transform-origin: right top;
}

.rectangles{
  padding:100px 0 0 0;
}
.rectangles > div{
  width:50%;
  height:auto;
  margin:50vw 30vh;
  padding:5px;
  background: #fff;
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
}
.rectangles > div:first-child{
  margin-top: 120vw;
}



#logo {
  position: absolute;
  top: 25%;
  margin-left: calc(50vw - 10%);
}
#logo img{
  position: fixed;
  display: block;
  width: 20%;
  margin: auto;
}
#logo img.retina{

}
#logo img.barra{
  width: 8%;
  margin-left: 6.1%;
  margin-top: 10.5%;
}
