
/*---------------HOME----------------*/
.slide {
  width: 100vw;
  height: 100vh;
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 510vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

#outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
}

/*----INTRO----*/
.one {
  width: 100vw;
}
.one video{
  margin-left: 39vw;
  margin-top: 12vh;
  width: 33%;
}
.two{
  width: 50vw;
  transition: all 2s;
  opacity: 0;
  z-index: -2;
}

/*----WELCOME----*/
.three {
  width: 50vw;
  transition: all 2s;
  opacity: 0;
}
.welcome {
  padding: 9% 20% 10% 7%;
}

.welcome h1 {
  font-size: 2em;
}

.welcome p {
  font-size: 1.5em;
  margin-top: 5%;
}
/*tablet*/
@media only screen and (max-width:800px) {
  .two{
    width:30vw;
  }
  .one video{
    margin-left: 29vw;
    margin-top: 20vh;
    width: 60%;
  }
  .three{
    width: 70vw;
  }
  .welcome h1 {
    padding-top: 6%;
  }
}
/*phone*/
@media only screen and (max-width:500px) {
  .two{
    transition: all 1s;
  }
  .three{
    transition: all 1s;
  }
  .welcome h1 {
    padding-top: 12%;
    font-size: 1.5em;
  }
  .welcome p {
    font-size: 0.8em;
  }
  .two video{
    margin-top: 60vh;
    width: 150%;
  }
}


/*----2018----*/
.four{
  width: 100vw;
  transition: all 2s;
  opacity: 0;
}
.last{
  padding: 0 7% 10% 7%;
}
.last .info{
  display: flex;
}
.last .text{
  padding: 5% 7% 0 0;
}
.last .text h1{
  font-size: 2em;
}
.last .text p{
  padding-right: 5%;
  font-size: 1.5em;
  margin-top: 5%;
}
.last .img-slider {
  height: 100vh;
  width: 100vw;
}
.last .img-slider .images{
  margin: 8vh 0;
  height: auto;
}
.second{
  display: none;
}
.images img{
  margin-top: 4%;
  width: 95%;
}
.images img:first-child{
  margin-top: 2%;
}
.controls img{
  cursor: pointer;
  margin-top: -12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}
.controls img:nth-child(2){
  display: none;
}
/*tablet*/
@media only screen and (min-width:500px) and (max-width:800px) {
  .last .info{
    display: block;
  }
  .last .img-slider {
    margin-top: -7%;
    width: auto;
    display: flex;
  }
  .second{
    display: block;
    padding-left: 5%;
  }
  .images img{
    margin-top: 5%;
  }
  .controls{
    display: none;
  }
  .last .text h1 {
    padding-top: 5%;
  }
}
/*phone*/
@media only screen and (max-width:500px) {
  .four{
    transition: all 1s;
  }
  .last .info{
    display: block;
  }
  .last .text h1{
    padding-top: 9%;
    font-size: 1.5em;
  }
  .last .text p{
    font-size: 0.8em;
    margin-top: 5%;
  }
  .last .img-slider {
    width: auto;
  }
  .last .img-slider .images{
    margin: 4vh 0;
  }
  .images {
  }
  .images img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  .controls img{
    margin-top: -3%;
  }
}

/*----LOCALS----*/
.five{
  width: 100vw;
  transition: all 2s;
  opacity: 0;
}
.locals{
  padding: 5%;
}
.locals h1{
  font-size: 2em;
}
.locals-container{
  display: flex;
}
.local{
  text-align: center;
  position: relative;
  margin-top: 1.5%;
}
.local img{
  width: 78%;
  transition: all .2s ease-in-out;
}
.local-info p{
  font-family: 'Space Mono', monospace;
  font-size: 1.5em;
  position: absolute;
  opacity: 0;
  top: 42%;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .2s ease-in-out;
}
.local img:hover {
  opacity: 0.5;
}
.local img:hover~.local-info p{
  opacity: 1;
}
/*tablet*/
@media only screen and (max-width:800px) {
  .locals{
    padding: 0;
  }
  .locals-container{
    margin-top: 5%;
    display: block;
  }
  .all-locals{
    display: flex;
  }
  .locals .info{
    display: block;
  }
  .locals h1 {
    padding-top: 9%;
  }
  .local{
    margin-top: 5%;
  }
}
/*phone*/
@media only screen and (max-width:500px) {
  .five{
    transition: all 1s;
  }
  .locals h1 {
    padding-top: 11%;
    font-size: 1.5em;
  }
  .local{
    margin-top: 10%;
  }
  .locals-container{
    margin-top: 10%;
  }
  .local-info p{
    font-size: 0.8em;
  }
}


/*----MEMBERS----*/
.six{
  width: 100vw;
  padding-right: 20vw;
  transition: all 2s;
  opacity: 0;
}
.six h1{
  font-size: 2em;
  padding: 5%;
}
.container-members {
  margin-top: -2%;
  display: flex;
  justify-content: center;
}
.container-members:nth-child(2) {
  margin-top: 2%;
}
.member{
  text-align: center;
  margin: 0 6%;
}
.member p{
  font-family: 'Space Mono', monospace;
}

.member-img{
  display: flex;
  background: rgba(0, 0, 0, 0);
  position: relative;
  transition: all .2s ease-in-out;
}

.member-img .rect{
  cursor: default;
  width: 100%;
  position: absolute;
  display: block;
  transition: all .2s ease-in-out;
}
.member-img .rect2{
    cursor: default;
  background-position: left top;
  top:0; right:0;
  width: 100%;
  position: absolute;
  transition: all .2s ease-in-out;
}
.rect p{
  color: #fff;
  opacity: 0;
  float: right;
  text-align: right;
  padding: 2% 3%;
}
.rect2 p{
  color: #fff;
  opacity: 0;
  float: left;
  text-align: left;
  padding: 3% 0 0 6%;
}
.member h2{
  margin-left: -15%;
  width: 130%;
}
.member-img img{
  width: 100%;
  height: 100%;
  z-index: 2;
}
.member-info{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.member-img:hover .rect{
  position: absolute;
  background: rgba(0, 0, 0, 1);
  height: 100%;
  width: 24vw;
}
.member-img:hover .rect p{
  opacity: 1;
}
.member-img:hover .rect2{
  position: absolute;
  background: rgba(0, 0, 0, 1);
  height: 100%;
  padding-right: 11.2vw;
}
.member-img:hover .rect2 p{
  opacity: 1;
  padding: 3% 0 0 8%;
}


/*tablet*/
@media only screen and (max-width:800px) {
  .members{
    display: flex;
  }
  .container-members:nth-child(2) {
    margin-top: -2%;
}
  .member{
    margin: 2% 0 0 40%;
  }
  .container-members{
    display: block;
    margin-left: 7%;
  }
  .six h1 {
    padding-top: 8%;
  }
  .member h2{
    font-size: 1em;
  }
  .member p{
    width: 120%;
    margin-left: -10%;
  }
  .member-img:hover .rect{
    width: 35vw;
  }
  .member-img:hover .rect2{
    padding-right: 18vw;
  }
  .rect p{
    font-size: 0.8em;
  }
  .rect2 p{
    font-size: 0.8em;
  }
}
/*phone*/
@media only screen and (max-width:500px) {
  .six{
    transition: all 1s;
  }
  .six h1 {
    padding-top: 11%;
    font-size: 1.5em;
  }
  .container-members{
    margin-left: 0%;
  }
  .member{
    margin: 2%  25%;
  }
  .member-img img{
    width: 100%;
    z-index: 0;
  }
  .member-img:hover .rect{
    width: 100%;
  }
  .member-img:hover .rect2{
    padding-right:0;
  }
  .member h2{
    font-size: 0.8em;
  }
  .member p{
    font-size: 0.8em;
  }
  .rect p{
    font-size: 0.5em;
  }
  .rect2 p{
    margin-left: 1%;
    font-size: 0.5em;
  }
}


/*----CONTACTS----*/
.seven{
  right: 0;
  position: absolute;
  width: 8vw;
  background: #000;
  transition: all .2s ease-in-out;
}
.contacts h1{
  opacity: 0;
  display: none;
  margin-top: 12%;
  color: #fff;
  font-size: 2em;

}
.contacts{
  padding: 5%;
}
.go-back{
  float: right;
}
.go-back img{
  margin-left: 50%;
  margin-top: 85vh;
  width: 30%;
}
.seven:hover{
  width: 22vw;
}
.seven:hover .contacts h1{
  display: block;
  opacity: 1;
}
.seven:hover .go-back img{
    margin-top: 75vh;
}
